.lead{
    font-family: 'Comfortaa', cursive;
}

.quote{
    padding: 3em 0px;
    font-style: italic;
    color: #32241f7d;
    font-weight: bold;
    height: 4em;
}
/* #about{
    background: linear-gradient(107deg, #ffffff, #ff430096);
} */

.main-title{
    font-size: 5rem;
}