.lead{
    font-family: 'Comfortaa', cursive;
}

.quote{
    padding: 0em 0px;
    font-style: italic;
    color: #32241f7d;
    font-weight: bold;
    height: 4em;
}
#about{
    display: flex;
    flex-direction: column;
}

.main-title{
    font-size: 5rem;
}

.resume-section-content{
    display: flex;
    flex-direction: column;
}